:root {
    --color-light: #EEE;
    --primary-color: #0d6dad;
    --primary-dark-color: #0c5d92;
    --success-color: #0f9631;
    --success-dark-color: #095f1f;
    --warning-color: #ee7c1e;
    --warning-dark-color: #c05d0c;
    --error-color: #e94343;
    --error-dark-color: #a12424;
    --side-bar-width: 15%;
    --side-bar-padding: 20px;
    --app-bar-padding: 10px;
    --input-border-radius: 8px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-dark-color);
}

.alert {
    background-color: #EEE;
    padding: 10px;
    border-radius: var(--input-border-radius);
    line-height: 20px;
    list-style-type: none;
    font-family: roboto-medium;
    margin: 0 0 10px 0;
}

.alert.alert-danger {
    background-color: #f7c5c7;
    color: #a70606;
}

.alert.alert-success {
    background-color: #d8f7dd;
    color: #046e24;
}

.app-bar {
    padding: var(--app-bar-padding);
    margin-top: 10px;
    margin-right: 20px;
    position: fixed;
    right: 0;
    /* width: 100%; */
    left: calc(var(--side-bar-width) + (var(--side-bar-padding) * 2));
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    border-radius: 20px;
    background-color: #ececec;
}

.Option {
  width: 100%;
  height: 50px;
  background-color: #0099ff;
  border-radius: ;
}

.side-bar a, .app-bar a {
  text-decoration: none;
}

.border {
    border: 1px solid #CCC;
}
/* 
.button {
    border: none;
    background-color: #EEE;
    padding: 12px;
    border-radius: var(--input-border-radius);
    cursor: pointer;
} */
/* 
.button.primary, .icon-button.primary {
    background-color: var(--primary-color);
    color: #FFF;
} */

/* .button.primary:hover, .icon-button.primary:hover {
    background-color: var(--primary-dark-color);
}

.button.primary:focus, .icon-button.primary:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
} */

/* .button.success, .icon-button.success {
    background-color: var(--success-color);
    color: #FFF;
}

.button.success:hover, .icon-button.success:hover {
    background-color: var(--success-dark-color);
}

.button.success:focus, .icon-button.success:focus {
    outline: 2px solid var(--success-color);
    outline-offset: 2px;
}

.button.warning, .icon-button.warning {
    background-color: var(--warning-color);
    color: #FFF;
}

.button.warning:hover, .icon-button.warning:hover {
    background-color: var(--warning-dark-color);
} */

/* .button.warning:focus {
    outline: 2px solid var(--warning-color);
    outline-offset: 2px;
}

.button.error, .icon-button.error {
    background-color: var(--error-color);
    color: #FFF;
}

.button.error:hover, .icon-button.error:hover {
    background-color: var(--error-dark-color);
}

.button.error:focus, .icon-button.error:focus {
    outline: 2px solid var(--error-color);
    outline-offset: 2px;
} */

.category-form {
    width: 400px;
    margin: auto;
}

.dashboard-card {
    box-shadow: 0 0 50px #CCC;
    border-radius: 14px;
    padding: 14px;
}

.datatable-cover {
    border-radius: 10px;
    padding: var(--side-bar-padding);
}

.d-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.d-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.d-grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.d-grid-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.d-inline {
    display: inline-block;
}

.h1 {
    font-size: 36px;
    font-family: roboto-black;
}

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13px;
    font-family: roboto-regular;
}

.icon-button {
    background-color: #CCC;
    border: none;
    color: white;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 6px;
}

input,
textarea,
select {
    border: 1px solid #DDD;
    outline: none;
    border-radius: var(--input-border-radius);
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    background-color: #EEE;
}

input:hover,
textarea:hover,
select:hover {
    background-color: #FFF;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

.side-bar {
    background-color: #a3e0e6;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--side-bar-width);
    padding: var(--side-bar-padding);
    border-radius: 0 50px 50px 0;
}

.side-bar .brand-logo-text {
    font-family: roboto-black;
    font-size: 16px;
}

.side-bar ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.side-bar ul li a div {
    padding: 12px 10px;
    border-radius: 8px;
    margin: 2px 0;
    font-family: roboto-medium;
}

.side-bar ul li a div.active {
    background-color: #0c75bb;
    color: #FFF;
}

.side-bar ul li a div:hover {
    background-color: #0c75bb;
    color: #FFF;
    transition-duration: 500ms;
}

.user-name {
  color: #0099ff;
  font-family: roboto-bold;
}

.stripe1 {
  background-color: #fff6a2;
}

.stripe2 {
  background-color: #fff6a2;
}

.stripe3 {
  /* background-color: #000000; */
}

textarea {
    font-family: roboto-regular;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #999;
}

.text-right {
    text-align: right;
}

.w-100 {
    width: 100%;
    box-sizing: border-box;
}

.wrap-content {
    position: absolute;
    left: calc(var(--side-bar-width) + (var(--side-bar-padding) * 2));
    top: 0;
    right: 0;
}

.wrap-content>div {
    padding: 20px;
}

.print-body{
    font-size: 1.5rem;
    font-family: roboto-regular;
}
.table-spacer{
    width: 20px;
}

.receipt-title{
    font-family: roboto-black;
    font-size: 3rem;

}
.print-row p, .print-row h2, .print-row td, .print-row h4{
    color: black !important;
}

.print-row{
    display: grid;
    grid-template-columns: .8fr 1fr .8fr;
}

.reciev{
    padding: 30px !important;
}

.download-btn{
    background-color: #0c75bb;
    border-radius: 50%;
    padding: 20px;
    margin-left: 50px;
}

.download-btn i{
    color: white;
}

.table-grid{
    color: black;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icone-hor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

/* .alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
} */

@font-face {
    font-family: roboto-regular;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(../assets/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}


/*--------------------------------------------------------------*/

/* From Uiverse.io by JkHuger */ 
@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}
  
@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
  
.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 700px;
}
  
.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}
  
.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}
  
.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}
  
.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}
  
.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}
  
.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}
  
.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}
  
.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}
  
.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}
  
.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}
  
.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}
  
.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}
  
.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}


/*------------------------------------------------------------------------------


/* From Uiverse.io by JkHuger */ 
@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 700px;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}

.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}

.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}

/*----------------------------------button-styles------------------------------------------

/* From Uiverse.io by cssbuttons-io */ 
button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

/*----------------------------------button-styles------------------------------------------

/* From Uiverse.io by vinodjangid07 */ 
.delete-button {
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 13px;
  transition-duration: .5s;
}

.svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .5s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .svgIcon {
  width: 50px;
  transition-duration: .5s;
  transform: translateY(60%);
}

.delete-button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .5s;
  font-size: 2px;
}

.delete-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .5s;
}

/*--------------------------------------------------button-styles------------------------------------------

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgb(52, 106, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: .5s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .5s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*--------------------------------------------------button-styles------------------------------------------

/* From Uiverse.io by vinodjangid07 */ 
.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(235, 67, 67);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
  padding-top: 10px;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

/*--------------------------------------------------checkbox-styles------------------------------------------

/* From Uiverse.io by vinodjangid07 */ 
/* To hide the checkbox */
#checkboxInput {
  display: none;
  /* width: 100px; */
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 20px;
  background-color: rgb(82, 82, 82);
  border-radius: 10px;
  cursor: pointer;
  transition-duration: .2s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: .2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .2s;
  background-color: white;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  background-color: rgb(16, 137, 211);
  transition-duration: .2s;
}

/*--------------------------------------------------button-styles------------------------------------------

/* From Uiverse.io by mobinkakei */ 
.cta {
  display: flex;
  /* padding: 11px 33px; */
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  /* background: #2634ff; */
  transition: 1s;
  /* box-shadow: 6px 6px 0 black; */
  /* transform: skewX(-15deg); */
  border: none;
  cursor: pointer;
  border-radius: 20px;
  /* ------------ */
  /* display: block; */
  width: 100%;
  height: 50px;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  /* color: white; */
  padding-block: 8px;
  margin: 20px auto;
  /* border-radius: 20px; */
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  /* border: none; */
  transition: all 0.2s ease-in-out;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  /* transition: 0.5s; */
  box-shadow: 6px 6px 0 #fff6a2;
  /* box-shadow: 6px 6px 0 #a3e0e6; */
  transform: scale(1.03);
  /* box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px; */
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}


/*--------------------------------------------------checkbox-styles------------------------------------------

/* From Uiverse.io by Yaya12085 */ 
.container1234 {
  display: flex;
}

.label {
  height: 60px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label::before {
  left: 70px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


/*--------------------------------------------------auth-screen-styles------------------------------------------ */

.container2-0 {
  max-width: 350px;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.form1 {
  margin-top: 20px;
}

.form1 .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form1 .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form1 .input::placeholder {
  color: rgb(170, 170, 170);
}

.form1 .input:focus {
  outline: none;
  border-inline: 2px solid #12b1d1;
}

.form1 .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form1 .forgot-password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.form1 .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form1 .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form1 .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 9px;
}


/*----------------------------------------------checkbox-styles------------------------------------------

/* From Uiverse.io by Praashoo7 */ 
/* Hide the default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container_checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 2.3em;
  width: 2.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: .4s;
}

.checkmark:hover {
  box-shadow: inset 17px 17px 16px #b3b3b3,
            inset -17px -17px 16px #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  box-shadow: none;
  background-color: limegreen;
  transform: rotateX(360deg);
}

.container_checkbox input:checked ~ .checkmark:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 0.96em;
  top: 0.7em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-shadow: 0.1em 0.1em 0em 0 rgba(0,0,0,0.3);
  transform: rotate(45deg);
}


/*----------------------------------------------slide-bar-button-styles------------------------------------------


/* From Uiverse.io by kamehame-ha */ 
.cards1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards1 a {
  /* font-size: 20px; */
  color: #FFF;
}

.cards1 .red {
  background-color: #f43f5e;
}

.cards1 .blue {
  background-color: #3b82f6;
}

.cards1 .green {
  background-color: #22c55e;
}

.Option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50px;
  width: 160px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  padding: 5px;
}

.cards1 .Option p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards1 .Option p.second-text {
  font-size: .7em;
}

.cards1 .Option:hover {
  transform: scale(1.1, 1.1);
}

.cards1:hover > .Option:not(:hover) {
  filter: blur(1px);
  transform: scale(0.9, 0.9);
}


/*----------------------------------------------tete-change-styles------------------------------------------

/* From Uiverse.io by kennyotsu */ 
.card222 {
  /* color used to softly clip top and bottom of the .words container */
  --bg-color: transparent;
  background-color: var(--bg-color);
  /* padding: 1rem 2rem; */
  /* border-radius: 1.25rem; */
}
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  /* -webkit-box-sizing: content-box; */
  /* box-sizing: content-box; */
  height: 40px;
  /* padding: 10px 10px; */
  display: -webkit-box;
  text-align: center;
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* border-radius: 8px; */
}

.words {
  overflow: hidden;
  /* position: relative; */
}
.words::after {
  /* content: ""; */
  /* position: absolute; */
  /* inset: 0; */
  /* background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  ); */
  /* z-index: 20; */
}

.word {
  display: block;
  height: 100%;
  padding-left: 320px;
  color: #956afa;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
